body {
    background-color: black;
    color: white;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-detail {
    margin-top: auto;
    border: none;
    background-color: black;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-detail:hover {
    background-color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    transform: scale(1.05);
}

.btn-detail:active {
    background-color: rgba(0, 0, 0, 0.445)!important;
    transform: scale(0.95)!important;
}

.container-logs {
    padding-top: 30px;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: block;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.game-modal {
    color: black;
}

.game-header {
    flex-direction: column;
}

.game-modal-footer {
    justify-content: space-between;
}

.game-modal-footer button {
    border: none;
    background-color: black;
    transition: transform 0.2s;
}

.game-modal-footer button:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

.game-modal-footer button:active {
    background-color: rgba(0, 0, 0, 0.445)!important;
    transform: scale(0.95)!important;
}
